body{margin:0;font-family:Fira Code,monospace;background-color:#0d0d0d;color:#f0f0f0}#root{width:100%;min-height:100vh}.App{width:100%;min-height:100vh;display:flex;flex-direction:column;align-items:center;justify-content:center}
